body {
    font-size: .875rem;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}
.pull-right{
    float: right !important;
}
.pull-left{
    float: left;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.bg-blue{
    background: #2d6dcc !important;
}
.fas{
    display: inline-block;
    width: 16px;
    text-align: center;
}
/**
 * profile
 */
.navbar .navbar-nav .nav-link{
    color: #ffffff;
}
.navbar .navbar-nav .nav-item.dropdown>.nav-link{
    line-height: 32px;
}
.navbar .navbar-nav .nav-item.dropdown>.dropdown-toggle{
    padding-right: 2rem;
    padding-left: 2rem;
}
.navbar .navbar-nav .nav-item.dropdown>.nav-link:hover{
    background-color: rgba(255,255,255,0.2);
}
.profile{
    color: #ffffff;
    float: right;
    text-align: right;
}
.navbar .dropdown-menu{
    font-size: 14px;
    line-height: 1.75rem;
}
/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 48px; /* Height of navbar */
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}
.sidebar a{
    color: #333;
}
.sidebar ul,.sidebar li{
    list-style: none;
    padding: 0;
}
.sidebar .nav .nav-item,.sidebar .nav .nav-item .nav-link{
    display: block;
    width: 100%;
}
.sidebar .menu-header {
    display: block;
    padding: .8rem 1.5rem;
    color: #333;
}

.sidebar .menu-header:hover,.nav .nav-link:hover{
    text-decoration: none;
    background: #4dabff;
    color: #ffffff;
}
.sidebar a.active{
    border-right:2px solid #2d8cf0;
    background: #f0faff;
    color: #2d8cf0;
}
.sidebar .nav-item .nav .nav-link{
    position: relative;
    display: block;
    padding: .75rem 1.25rem .75rem 2.75rem;
}

/*
 * Navbar
 */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
